<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBQKwMtDa8ZR0SuZJCOiNz-0AIc0snhp18</string>
	<key>GCM_SENDER_ID</key>
	<string>826456880517</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.simulatedcard.scrajoycc</string>
	<key>PROJECT_ID</key>
	<string>c130ios</string>
	<key>STORAGE_BUCKET</key>
	<string>c130ios.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:826456880517:ios:7c57fcfa7ec0c329e7c0ec</string>
</dict>
</plist>