<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCldhAb6fpHgLN1kGg8vVE1OcApbwg6qlA</string>
	<key>GCM_SENDER_ID</key>
	<string>209105476297</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.scratch.windaily.cardfun</string>
	<key>PROJECT_ID</key>
	<string>c130-scratch--win-daily</string>
	<key>STORAGE_BUCKET</key>
	<string>c130-scratch--win-daily.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:209105476297:ios:7be79d4a7567a1d25a0b18</string>
</dict>
</plist>
